@{
    ViewBag.Title = "FAQ";
}

<!-- ******CONTENT****** -->
<div class="content container">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title float-left">Frequently Asked Questions</h1>
            <div class="breadcrumbs float-right">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-label">You are here:</li>
                    <li><a href="/Home/Index">Home</a><i class="fa fa-angle-right"></i></li>
                    <li class="current">FAQ</li>
                </ul>
            </div><!--//breadcrumbs-->
        </header>
        <div class="page-content">
            <div class="row page-row">
                <div class="faq-wrapper col-lg-8 col-md-7 col-12">
                    <div id="accordion" class="accordion">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" class="card-toggle">
                                        <i class="fas fa-plus-square"></i>
                                        What is a learnership?
                                    </a>
                                </h4>
                            </div><!--//pane-heading-->
                            <div id="collapse-1" class="collapse">
                                <div class="card-body">
                                    A learnership is a work-based learning programme that leads to a nationally recognised qualification. Thus, learners in learnership programmes have to attend classes at a college or training centre to complete classroom-based learning, and they also have to complete on-the-job training in a workplace. This means that unemployed people can only participate in a learnership programme, if there is an employer that is willing to provide the required work experience.
                                </div><!--//panel-body-->
                            </div><!--//panel-colapse-->
                        </div><!--//panel-->
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed card-toggle" href="#collapse-2">
                                        <i class="fas fa-plus-square"></i>
                                        How long does it take to complete a learnership programme?
                                    </a>
                                </h4>
                            </div><!--//pane-heading-->
                            <div id="collapse-2" class="collapse">
                                <div class="card-body">
                                    It usually takes a year but some learnership programmes can take two or more years. It is possible for learners to complete a learnership programme in a shorter time through Recognition of Prior Learning (RPL). This is a process through which learners will get recognition for parts of the programme for learning done previously or for work experience.
                                </div><!--//panel-body-->
                            </div><!--//panel-colapse-->
                        </div><!--//panel-->
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed card-toggle" href="#collapse-3">
                                        <i class="fas fa-plus-square"></i>
                                        What are the benefits of a Learnership?
                                    </a>
                                </h4>
                            </div><!--//pane-heading-->
                            <div id="collapse-3" class="collapse">
                                <div class="card-body">
                                    You will receive a nationally recognised qualification upon successful completion of the learnership. You will gain work experience that will improve your chances of getting work.
                                </div><!--//panel-body-->
                            </div><!--//panel-colapse-->
                        </div><!--//panel-->
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed card-toggle" href="#collapse-4">
                                        <i class="fas fa-plus-square"></i>
                                        What are the entry requirements?
                                    </a>
                                </h4>
                            </div><!--//pane-heading-->
                            <div id="collapse-4" class="collapse">
                                <div class="card-body">
                                    Most entry requirements require a Grade 12 certificate.
                                </div><!--//panel-body-->
                            </div><!--//panel-colapse-->
                        </div><!--//panel-->
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed card-toggle" href="#collapse-5">
                                        <i class="fas fa-plus-square"></i>
                                        What will the training cost?
                                    </a>
                                </h4>
                            </div><!--//pane-heading-->
                            <div id="collapse-5" class="collapse">
                                <div class="card-body">
                                    You do not have to pay anything to participate on a learnership programme. The Services SETA subsidises both the employer and training provider to cover the cost.
                                </div><!--//panel-body-->
                            </div><!--//panel-colapse-->
                        </div><!--//panel-->
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed card-toggle" href="#collapse-6">
                                        <i class="fas fa-plus-square"></i>
                                        How much will a learner earn?
                                    </a>
                                </h4>
                            </div><!--//pane-heading-->
                            <div id="collapse-6" class="collapse">
                                <div class="card-body">
                                    All learners must be paid a learner allowance by the employer. An employer must pay a learner a set allowance calculated in terms of Clause 3 of Sectorial Determination No 5. No learner may be paid less than the allowance as determined.
                                </div><!--//panel-body-->
                            </div><!--//panel-colapse-->
                        </div><!--//panel-->
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed card-toggle" href="#collapse-7">
                                        <i class="fas fa-plus-square"></i>
                                        What is required from learners enrolled on a Learnership programme?
                                    </a>
                                </h4>
                            </div><!--//pane-heading-->
                            <div id="collapse-7" class="collapse">
                                <div class="card-body">
                                    You need to sign both Learnership Agreement and employment contract, thus two legal documents. The Learnership Agreement is signed by you the learner, the employer and training provider and sets out the responsibilities of all three parties.
                                </div><!--//panel-body-->
                            </div><!--//panel-colapse-->
                        </div><!--//panel-->
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed card-toggle" href="#collapse-8">
                                        <i class="fas fa-plus-square"></i>
                                        How can you apply?
                                    </a>
                                </h4>
                            </div><!--//pane-heading-->
                            <div id="collapse-8" class="collapse">
                                <div class="card-body">
                                    One of the conditions of a learnership is that unemployed people must be employed by the employer for the duration of the learnership. Unemployed people can therefore only enter a learnership if there is an employer who is willing to take unemployed people into a learnership programme.
                                </div><!--//panel-body-->
                            </div><!--//panel-colapse-->
                        </div><!--//panel-->
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed card-toggle" href="#collapse-9">
                                        <i class="fas fa-plus-square"></i>
                                        What is a short/skills programme?
                                    </a>
                                </h4>
                            </div><!--//pane-heading-->
                            <div id="collapse-9" class="collapse">
                                <div class="card-body">
                                    Should a provider/Institution be offering a course/programme that takes less than one year (full time) to complete and not contain registered Unit Standards, then the course will be classified as a Short Course. A Short Course will not contain credits towards a full Qualification. It is important to note, that a provider/Institution not need to be registered or accredited to offer Short Courses. Many Short Courses are useful within the appropriate career field and can add value to an individual already in said career.
                                </div><!--//panel-body-->
                            </div><!--//panel-colapse-->
                        </div><!--//panel-->
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed card-toggle" href="#collapse-9">
                                        <i class="fas fa-plus-square"></i>
                                        What is a unit standard?
                                    </a>
                                </h4>
                            </div><!--//pane-heading-->
                            <div id="collapse-10" class="collapse">
                                <div class="card-body">
                                    The standard in the NQF system is held in the Unit Standard. A Unit Standard is the smallest unit that can be credited to a learner. Unit Standards can stand alone, but are generally part of a Qualification. A cluster of Unit Standards, including fundamental learning, core learning and elective learning, form a full Qualification.
                                </div><!--//panel-body-->
                            </div><!--//panel-colapse-->
                        </div><!--//panel-->
                    </div><!--//panel-group-->
                </div><!--//faq-wrapper-->
                <aside class="page-sidebar  col-lg-3 offset-lg-1 col-md-4 offset-md-1">
                    <section class="widget has-divider">
                        <h3 class="title">Why Uphiwe Skills Training</h3>
                        <p>We boast of a highly experienced and sought after team, with more than 20 years experience in the skills training development industry. We believe that empowering the human mind by developing skills makes a life changing difference.</p>
                        <a class="btn btn-theme" href="#"><i class="fas fa-download"></i>Download prospectus</a>
                    </section><!--//widget-->
                </aside>
            </div><!--//page-row-->
        </div><!--//page-content-->
    </div><!--//page-->
</div><!--//content-->