@{
    ViewBag.Title = "Our Courses";
}

<div class="courses-wrapper col-md-6 col-sm-6">
    <h5>Technical</h5>
    <p>
        Our company has the capacity and expertise of implementing and conducting training interventions provincial and nationally. Furthermore, Uphiwekonke Skills Training has a number of strategic partners that extend our accreditation to the Services SETA, MerSETA, EW SETA and ETDP SETA.
    </p>

    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <h5>FP&M SETA: FPM15/PRP ACC-033<br />Qualifications:</h5>
                <ul class="list-group" style="margin-left:35px;">
                    <li>National Certificate in Furniture Making: Wood NQF 2 </li>
                    <li>National Certificate in Furniture Making: Wood NQF 3 </li>
                    <li>National Certificate in CTFL NQF 2 </li>
                    <li>National Certificate in Forestry Silviculture NQF 3</li>
                </ul>
                <h5>Skills programmes/short courses:</h5>
                <ul class="list-group" style="margin-left:35px;">
                    <li>Basic furniture making</li>
                    <li>Basic computer skills</li>
                    <li>Basic sewing</li>
                    <li>First aid</li>
                    <li>Entrepreneurial skills</li>
                    <li>Occupational health and safety</li>
                </ul>
                <h5>Legacy based training courses: </h5>
                <ul class="list-group" style="margin-left:35px;">
                    <li>Upholstery</li>
                    <li>Cabinet making</li>
                    <li>Carpentry</li>
                    <li>Clothing design & construction</li>
                </ul>
            </div>
            <div class="col-xs-6">
                <h5>Construction SETA: 3R35322<br />Qualifications:</h5>
                <ul class="list-group" style="margin-left:35px;">
                    <li>National Certificate in Building Management NQF 5 </li>
                    <li>Construction Supervision (Foreman) NQF 4 </li>
                    <li>Building and Civil Construction NQF 3  </li>
                    <li>Construction Roadworks NQF 2 & 3 </li>
                    <li>National Certificate in Construction Contractor NQF 2 </li>
                </ul>
                <h5>Skills programmes/short courses:</h5>
                <ul class="list-group" style="margin-left:35px;">
                    <li>Labour Intensive Construction NQF 5 </li>
                    <li>Store controller</li>
                    <li>Traffic Controller</li>
                    <li>First aid</li>
                    <li>Entrepreneurial skills</li>
                    <li>Construction Quantities and Costing </li>
                </ul>
                <h5>Legacy based training courses: </h5>
                <ul class="list-group" style="margin-left:35px;">
                    <li>Bricklaying</li>
                    <li>Plastering</li>
                    <li>Carpentry</li>
                </ul>
            </div>
        </div>
    </div><!--//container-fluid-->
</div><!--//courses-wrapper-->
